body {
	font-size: 14px;
	color: navy;
	font-family: verdana;
	
}
h1 {
	color: #ffc;
	background-color: #009;
}
p {
    color: red;
    line-height: 1.5;
    text-align: center;
}

a {
    color: green;
	text-decoration: none;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
